name: Auto Verify Bitcoin Messages

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write
  issues: write

jobs:
  run-and-comment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Run Tests
        id: test
        run: |
          if ! bun test verify; then
            echo "INSTALL_FAILED=true" >> $GITHUB_OUTPUT
            exit 1
          fi
        continue-on-error: true

      - name: Close PR if install failed
        if: steps.test.outputs.INSTALL_FAILED == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: `❌ **PR Automatically Closed**
              See the output of the previous \`test\` step to see the error.`
            });

            await github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              state: 'closed'
            });

      - name: Exit if install failed
        if: steps.test.outputs.INSTALL_FAILED == 'true'
        run: exit 1

      - name: Run CLI and capture output
        id: run_output
        run: |
          echo "OUTPUT<<EOF" >> $GITHUB_OUTPUT
          bun run .github/workflows/generate-github-comments.ts >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Comment PR with output
        uses: actions/github-script@v7
        with:
          # TODO maybe concat the rest of the comments into this one
          script: |
            let count = 0;
            const limit = 75;
            const { owner, repo } = context.repo;
            const issue_number = context.issue.number;
            const comments = `${{ steps.run_output.outputs.OUTPUT }}`.split('\n\n\n').filter(Boolean);
            const signatures = JSON.parse(comments.pop());
            const existingComments = await github.rest.issues.listComments({ owner, repo, issue_number });
            for (const [index, signature] of signatures.entries()) {
              const hasComment = existingComments.data.find(comment => comment.body.includes(signature))
              if (hasComment) {
                console.warn(`Skipping comment already exists for signature ${signature.slice(0, 8)}...`)
                continue;
              }
              let body = `> [!IMPORTANT]
            > The author on Github may or may not be the message signer.
            ${comments[index]}`
              await github.rest.issues.createComment({ owner, repo, issue_number, body });
              if (count++ >= limit) {
                body = `All payloads have been verified. ☑️ \n\nPre commit payload limit reached.\nTry to upload messages in smaller batches.\n\nPayload limit reached per commit.`
                await github.rest.issues.createComment({ owner, repo, issue_number, body });
                break;
              }
            }
